:root {
  --default-font-family:'Roboto Condensed';
  --secondary-font: 'Roboto Mono';
  --text-color: #545454;
  --accent-color: #7DE0FF;

}

body {
  margin: 0;
  background-color: #D9D9D9;
  font-family: var(--default-font-family);
}